version: '3.8'

services:
  postgres:
    image: postgres
    container_name: blog-postgres
    environment:
      POSTGRES_DB: test6
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: supersecret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
